@import url('https://fonts.googleapis.com/css?family=Raleway:500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  letter-spacing: .5px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table, th, td {
  border : 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}